footer
  text-align: center
  padding: 10px 0px 10px 0px
  background-color: #FFDD9A
  border-top: 4px solid #4D4D4D
  p
    padding: 5px
    .button-social
      height: 35px
      width: 35px
      display: inline-block
      border-radius: 50%
      background-color: #454543
      border: 4px solid #454543
      text-align: center
      cursor: pointer
      i
        line-height: 30px
        font-size: 20px
        color: #FFDD9A
        margin-top: -2px
      &:hover
        background-color: #FFDD9A
        i
          color: #454543
