header
  background-color: #FFDD9A
  border-bottom: 4px solid #4D4D4D
  .logo
    img
      height: 100px
  .header-nav
    float: right
    margin-top: 23px
    li
      display: inline-block
      cursor: pointer
      margin-top: 17px
      margin-right: 20px
      a
        color: #4D4D4D
        font-weight: 900
        font-size: 24px
        &:hover
          color: #FCAB48
          text-decoration: none
