.empty-block
  background-color: #FFDD9A
  &.text-block
    background-color: $white
    .share-buttons
      .button-social
        i
          color: $white
        &:hover
          background-color: $white

  .info-block
    &.text-block
      p
        font-size: 25px !important
      p
        padding-top: 15px

    opacity: 0.99
    margin: auto
    height: auto
    width: 60%
    text-align: center
    padding: 20px
    font-family: 'Roboto', sans-serif
    p
      color: $grey
      font-weight: 100
      font-size: 16px
      text-align: left
      .amount
        font-weight: 600
      &.heading
        font-size: 45px
        text-align: center
    .phones-block
      padding: 25px
      p
        text-align: center
    .values-block
      padding: 25px
      width: 445px
      margin: auto
      p
        font-size: 30px !important
  .share-buttons
    margin-top: 45px
    float: right
    margin-right: 10px
    .button-social
      margin-right: 10px
      height: 70px
      width: 70px
      display: inline-block
      border-radius: 50%
      background-color: #454543
      border: 4px solid #454543
      text-align: center
      cursor: pointer
      i
        line-height: 70px
        font-size: 50px
        color: #FFDD9A
      &:hover
        background-color: #FFDD9A
        i
          color: #454543
