.photoset
  background-image: url("./background.png")
  background-size: 100% auto
  background-repeat: no-repeat repeat
  background-repeat: repeat-y
  height: auto
  min-height: 400px
  padding: 20px 0px 20px 0px
  position: relative
  border-bottom: 4px solid #4D4D4D
  .images
    text-align: center
    margin-top: 485px
    position: relative
    width: 350px
    margin: auto
    margin-top: 470px
    &.dropped
      height: 1350px
    .image-cage
      &:hover
        z-index: 10
      position: absolute
      width: 470px
      height: auto
      .image
        cursor: pointer
        padding: 10px
        border-radius: 5px
        border: 4px solid #4D4D4D
        width: 80%
        margin: auto
        height: 280px
        background-color: white
        text-align: center
        overflow: hidden
        margin-bottom: 60px
        img
          width: 100%
        p
          font-size: 24px
          font-family: 'Marck Script', cursive
