.polaroid
  cursor: pointer
  position: absolute
  top: 260px
  left: calc(50% - 125px)
#shutter
  opacity: 0
  transition: all 30ms ease-in
  position: fixed
  height: 0%
  width: 0%
  pointer-events: none
  background-color: white
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  -webkit-transform: translate(-50%, -50%)

#shutter.on
  opacity: 0.8
  z-index: 1000
  height: 100%
  width: 100%

.img-arrow
  position: absolute
  top: 20px
  left: calc(50% - 15px)
