/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  overflow-y: scroll; }

.main-body {
  font-family: 'Roboto', sans-serif !important;
  overflow-y: scroll;
  overflow-x: hidden;
  max-width: 100vw; }

::-webkit-scrollbar {
  display: none !important; }

footer {
  text-align: center;
  padding: 10px 0px 10px 0px;
  background-color: #FFDD9A;
  border-top: 4px solid #4D4D4D; }
  footer p {
    padding: 5px; }
    footer p .button-social {
      height: 35px;
      width: 35px;
      display: inline-block;
      border-radius: 50%;
      background-color: #454543;
      border: 4px solid #454543;
      text-align: center;
      cursor: pointer; }
      footer p .button-social i {
        line-height: 30px;
        font-size: 20px;
        color: #FFDD9A;
        margin-top: -2px; }
      footer p .button-social:hover {
        background-color: #FFDD9A; }
        footer p .button-social:hover i {
          color: #454543; }

header {
  background-color: #FFDD9A;
  border-bottom: 4px solid #4D4D4D; }
  header .logo img {
    height: 100px; }
  header .header-nav {
    float: right;
    margin-top: 23px; }
    header .header-nav li {
      display: inline-block;
      cursor: pointer;
      margin-top: 17px;
      margin-right: 20px; }
      header .header-nav li a {
        color: #4D4D4D;
        font-weight: 900;
        font-size: 24px; }
        header .header-nav li a:hover {
          color: #FCAB48;
          text-decoration: none; }

.shake, .shake-little, .shake-slow, .shake-hard, .shake-horizontal, .shake-vertical, .shake-rotate, .shake-opacity, .shake-crazy, .shake-chunk {
  display: inline-block;
  transform-origin: center center; }

.shake-freeze, .shake-constant.shake-constant--hover:hover, .shake-trigger:hover .shake-constant.shake-constant--hover {
  animation-play-state: paused; }

.shake-freeze:hover, .shake-trigger:hover .shake-freeze, .shake:hover, .shake-trigger:hover .shake, .shake-little:hover, .shake-trigger:hover .shake-little, .shake-slow:hover, .shake-trigger:hover .shake-slow, .shake-hard:hover, .shake-trigger:hover .shake-hard, .shake-horizontal:hover, .shake-trigger:hover .shake-horizontal, .shake-vertical:hover, .shake-trigger:hover .shake-vertical, .shake-rotate:hover, .shake-trigger:hover .shake-rotate, .shake-opacity:hover, .shake-trigger:hover .shake-opacity, .shake-crazy:hover, .shake-trigger:hover .shake-crazy, .shake-chunk:hover, .shake-trigger:hover .shake-chunk {
  animation-play-state: running; }

@keyframes shake {
  2% {
    transform: translate(1.5px, 1.5px) rotate(-0.5deg); }
  4% {
    transform: translate(-1.5px, 1.5px) rotate(1.5deg); }
  6% {
    transform: translate(1.5px, 2.5px) rotate(-0.5deg); }
  8% {
    transform: translate(1.5px, -0.5px) rotate(0.5deg); }
  10% {
    transform: translate(2.5px, 0.5px) rotate(0.5deg); }
  12% {
    transform: translate(-1.5px, -0.5px) rotate(1.5deg); }
  14% {
    transform: translate(1.5px, 1.5px) rotate(1.5deg); }
  16% {
    transform: translate(0.5px, 0.5px) rotate(-0.5deg); }
  18% {
    transform: translate(-1.5px, -1.5px) rotate(1.5deg); }
  20% {
    transform: translate(1.5px, 2.5px) rotate(1.5deg); }
  22% {
    transform: translate(0.5px, 2.5px) rotate(1.5deg); }
  24% {
    transform: translate(2.5px, 1.5px) rotate(-0.5deg); }
  26% {
    transform: translate(0.5px, 1.5px) rotate(1.5deg); }
  28% {
    transform: translate(-0.5px, -1.5px) rotate(-0.5deg); }
  30% {
    transform: translate(-0.5px, 1.5px) rotate(-0.5deg); }
  32% {
    transform: translate(1.5px, 1.5px) rotate(-0.5deg); }
  34% {
    transform: translate(-1.5px, 0.5px) rotate(1.5deg); }
  36% {
    transform: translate(2.5px, 0.5px) rotate(-0.5deg); }
  38% {
    transform: translate(-0.5px, -0.5px) rotate(0.5deg); }
  40% {
    transform: translate(0.5px, -1.5px) rotate(-0.5deg); }
  42% {
    transform: translate(0.5px, 1.5px) rotate(1.5deg); }
  44% {
    transform: translate(2.5px, 0.5px) rotate(-0.5deg); }
  46% {
    transform: translate(2.5px, 0.5px) rotate(1.5deg); }
  48% {
    transform: translate(1.5px, 1.5px) rotate(-0.5deg); }
  50% {
    transform: translate(-0.5px, -0.5px) rotate(1.5deg); }
  52% {
    transform: translate(2.5px, -1.5px) rotate(0.5deg); }
  54% {
    transform: translate(0.5px, 2.5px) rotate(1.5deg); }
  56% {
    transform: translate(0.5px, 2.5px) rotate(-0.5deg); }
  58% {
    transform: translate(1.5px, 0.5px) rotate(-0.5deg); }
  60% {
    transform: translate(1.5px, 1.5px) rotate(-0.5deg); }
  62% {
    transform: translate(2.5px, -1.5px) rotate(1.5deg); }
  64% {
    transform: translate(2.5px, 1.5px) rotate(0.5deg); }
  66% {
    transform: translate(1.5px, 2.5px) rotate(1.5deg); }
  68% {
    transform: translate(-0.5px, 0.5px) rotate(0.5deg); }
  70% {
    transform: translate(-1.5px, 2.5px) rotate(1.5deg); }
  72% {
    transform: translate(1.5px, 2.5px) rotate(1.5deg); }
  74% {
    transform: translate(-0.5px, 2.5px) rotate(0.5deg); }
  76% {
    transform: translate(1.5px, 2.5px) rotate(0.5deg); }
  78% {
    transform: translate(2.5px, 0.5px) rotate(0.5deg); }
  80% {
    transform: translate(-1.5px, -0.5px) rotate(0.5deg); }
  82% {
    transform: translate(-0.5px, -1.5px) rotate(0.5deg); }
  84% {
    transform: translate(1.5px, 1.5px) rotate(-0.5deg); }
  86% {
    transform: translate(-0.5px, 2.5px) rotate(0.5deg); }
  88% {
    transform: translate(-1.5px, 2.5px) rotate(0.5deg); }
  90% {
    transform: translate(-0.5px, -0.5px) rotate(-0.5deg); }
  92% {
    transform: translate(2.5px, 1.5px) rotate(-0.5deg); }
  94% {
    transform: translate(1.5px, 2.5px) rotate(0.5deg); }
  96% {
    transform: translate(0.5px, 2.5px) rotate(-0.5deg); }
  98% {
    transform: translate(2.5px, 0.5px) rotate(1.5deg); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }

.shake:hover, .shake-trigger:hover .shake, .shake.shake-freeze, .shake.shake-constant {
  animation: shake 100ms ease-in-out infinite; }

@keyframes shake-little {
  2% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  4% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  6% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  8% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  10% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  12% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  14% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  16% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  18% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  20% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  22% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  24% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  26% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  28% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  30% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  32% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  34% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  36% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  38% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  40% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  42% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  44% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  46% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  48% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  50% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  52% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  54% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  56% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  58% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  60% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  62% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  64% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  66% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  68% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  70% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  72% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  74% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  76% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  78% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  80% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  82% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  84% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  86% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  88% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  90% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  92% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  94% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  96% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  98% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }

.shake-little:hover, .shake-trigger:hover .shake-little, .shake-little.shake-freeze, .shake-little.shake-constant {
  animation: shake-little 100ms ease-in-out infinite; }

@keyframes shake-slow {
  2% {
    transform: translate(2px, -9px) rotate(2.5deg); }
  4% {
    transform: translate(-4px, 5px) rotate(-2.5deg); }
  6% {
    transform: translate(-8px, 8px) rotate(3.5deg); }
  8% {
    transform: translate(-7px, 4px) rotate(-1.5deg); }
  10% {
    transform: translate(7px, 0px) rotate(1.5deg); }
  12% {
    transform: translate(3px, 8px) rotate(-0.5deg); }
  14% {
    transform: translate(4px, 4px) rotate(0.5deg); }
  16% {
    transform: translate(-4px, -4px) rotate(3.5deg); }
  18% {
    transform: translate(-8px, -7px) rotate(3.5deg); }
  20% {
    transform: translate(-9px, 8px) rotate(2.5deg); }
  22% {
    transform: translate(-9px, -5px) rotate(-2.5deg); }
  24% {
    transform: translate(4px, -7px) rotate(-2.5deg); }
  26% {
    transform: translate(-1px, 3px) rotate(1.5deg); }
  28% {
    transform: translate(-3px, -7px) rotate(3.5deg); }
  30% {
    transform: translate(6px, -9px) rotate(2.5deg); }
  32% {
    transform: translate(8px, -5px) rotate(-2.5deg); }
  34% {
    transform: translate(7px, 8px) rotate(1.5deg); }
  36% {
    transform: translate(2px, 5px) rotate(-2.5deg); }
  38% {
    transform: translate(-6px, 0px) rotate(2.5deg); }
  40% {
    transform: translate(9px, 7px) rotate(-2.5deg); }
  42% {
    transform: translate(-2px, -2px) rotate(-0.5deg); }
  44% {
    transform: translate(0px, -6px) rotate(-2.5deg); }
  46% {
    transform: translate(-5px, 2px) rotate(1.5deg); }
  48% {
    transform: translate(-8px, -7px) rotate(3.5deg); }
  50% {
    transform: translate(-5px, -6px) rotate(-2.5deg); }
  52% {
    transform: translate(8px, 1px) rotate(-2.5deg); }
  54% {
    transform: translate(-1px, -1px) rotate(-2.5deg); }
  56% {
    transform: translate(5px, -1px) rotate(2.5deg); }
  58% {
    transform: translate(-6px, -8px) rotate(-2.5deg); }
  60% {
    transform: translate(5px, 5px) rotate(3.5deg); }
  62% {
    transform: translate(-4px, -2px) rotate(1.5deg); }
  64% {
    transform: translate(-5px, 7px) rotate(3.5deg); }
  66% {
    transform: translate(7px, 4px) rotate(0.5deg); }
  68% {
    transform: translate(-5px, -2px) rotate(-2.5deg); }
  70% {
    transform: translate(1px, 3px) rotate(-1.5deg); }
  72% {
    transform: translate(-6px, 0px) rotate(2.5deg); }
  74% {
    transform: translate(1px, 9px) rotate(2.5deg); }
  76% {
    transform: translate(10px, -5px) rotate(-2.5deg); }
  78% {
    transform: translate(-5px, 4px) rotate(3.5deg); }
  80% {
    transform: translate(-6px, 1px) rotate(0.5deg); }
  82% {
    transform: translate(9px, 10px) rotate(2.5deg); }
  84% {
    transform: translate(-1px, 5px) rotate(-1.5deg); }
  86% {
    transform: translate(4px, 1px) rotate(2.5deg); }
  88% {
    transform: translate(-5px, -7px) rotate(1.5deg); }
  90% {
    transform: translate(-8px, -2px) rotate(0.5deg); }
  92% {
    transform: translate(10px, -9px) rotate(-0.5deg); }
  94% {
    transform: translate(7px, 6px) rotate(-0.5deg); }
  96% {
    transform: translate(6px, 1px) rotate(-2.5deg); }
  98% {
    transform: translate(5px, 0px) rotate(1.5deg); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }

.shake-slow:hover, .shake-trigger:hover .shake-slow, .shake-slow.shake-freeze, .shake-slow.shake-constant {
  animation: shake-slow 5s ease-in-out infinite; }

@keyframes shake-hard {
  2% {
    transform: translate(2px, -5px) rotate(2.5deg); }
  4% {
    transform: translate(4px, 6px) rotate(-1.5deg); }
  6% {
    transform: translate(-5px, 3px) rotate(-2.5deg); }
  8% {
    transform: translate(-8px, 7px) rotate(3.5deg); }
  10% {
    transform: translate(-2px, -8px) rotate(3.5deg); }
  12% {
    transform: translate(-9px, -1px) rotate(1.5deg); }
  14% {
    transform: translate(1px, -8px) rotate(-0.5deg); }
  16% {
    transform: translate(-3px, 10px) rotate(-1.5deg); }
  18% {
    transform: translate(9px, -4px) rotate(0.5deg); }
  20% {
    transform: translate(4px, 8px) rotate(2.5deg); }
  22% {
    transform: translate(3px, 2px) rotate(-0.5deg); }
  24% {
    transform: translate(-5px, 6px) rotate(2.5deg); }
  26% {
    transform: translate(-7px, -6px) rotate(0.5deg); }
  28% {
    transform: translate(3px, 0px) rotate(2.5deg); }
  30% {
    transform: translate(8px, -8px) rotate(2.5deg); }
  32% {
    transform: translate(-9px, -8px) rotate(2.5deg); }
  34% {
    transform: translate(-9px, 3px) rotate(2.5deg); }
  36% {
    transform: translate(-2px, 7px) rotate(2.5deg); }
  38% {
    transform: translate(8px, 7px) rotate(-1.5deg); }
  40% {
    transform: translate(4px, 0px) rotate(-1.5deg); }
  42% {
    transform: translate(-4px, -9px) rotate(-0.5deg); }
  44% {
    transform: translate(0px, -4px) rotate(2.5deg); }
  46% {
    transform: translate(4px, 2px) rotate(2.5deg); }
  48% {
    transform: translate(10px, -9px) rotate(2.5deg); }
  50% {
    transform: translate(3px, -6px) rotate(2.5deg); }
  52% {
    transform: translate(1px, 6px) rotate(0.5deg); }
  54% {
    transform: translate(3px, -1px) rotate(-1.5deg); }
  56% {
    transform: translate(-1px, -9px) rotate(0.5deg); }
  58% {
    transform: translate(7px, -4px) rotate(-0.5deg); }
  60% {
    transform: translate(2px, 0px) rotate(2.5deg); }
  62% {
    transform: translate(-5px, 3px) rotate(0.5deg); }
  64% {
    transform: translate(6px, -8px) rotate(3.5deg); }
  66% {
    transform: translate(1px, -3px) rotate(2.5deg); }
  68% {
    transform: translate(10px, 1px) rotate(1.5deg); }
  70% {
    transform: translate(0px, 7px) rotate(-0.5deg); }
  72% {
    transform: translate(-9px, 6px) rotate(3.5deg); }
  74% {
    transform: translate(8px, 0px) rotate(-0.5deg); }
  76% {
    transform: translate(0px, 5px) rotate(0.5deg); }
  78% {
    transform: translate(6px, 6px) rotate(-0.5deg); }
  80% {
    transform: translate(4px, 3px) rotate(-2.5deg); }
  82% {
    transform: translate(8px, -2px) rotate(3.5deg); }
  84% {
    transform: translate(0px, -8px) rotate(1.5deg); }
  86% {
    transform: translate(-2px, -8px) rotate(2.5deg); }
  88% {
    transform: translate(10px, -7px) rotate(2.5deg); }
  90% {
    transform: translate(2px, 10px) rotate(-0.5deg); }
  92% {
    transform: translate(-9px, 4px) rotate(2.5deg); }
  94% {
    transform: translate(-3px, 1px) rotate(1.5deg); }
  96% {
    transform: translate(-2px, -1px) rotate(0.5deg); }
  98% {
    transform: translate(7px, -9px) rotate(3.5deg); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }

.shake-hard:hover, .shake-trigger:hover .shake-hard, .shake-hard.shake-freeze, .shake-hard.shake-constant {
  animation: shake-hard 100ms ease-in-out infinite; }

@keyframes shake-horizontal {
  2% {
    transform: translate(4px, 0) rotate(0); }
  4% {
    transform: translate(7px, 0) rotate(0); }
  6% {
    transform: translate(-2px, 0) rotate(0); }
  8% {
    transform: translate(-7px, 0) rotate(0); }
  10% {
    transform: translate(-1px, 0) rotate(0); }
  12% {
    transform: translate(-2px, 0) rotate(0); }
  14% {
    transform: translate(1px, 0) rotate(0); }
  16% {
    transform: translate(-8px, 0) rotate(0); }
  18% {
    transform: translate(-5px, 0) rotate(0); }
  20% {
    transform: translate(9px, 0) rotate(0); }
  22% {
    transform: translate(-5px, 0) rotate(0); }
  24% {
    transform: translate(6px, 0) rotate(0); }
  26% {
    transform: translate(2px, 0) rotate(0); }
  28% {
    transform: translate(2px, 0) rotate(0); }
  30% {
    transform: translate(-5px, 0) rotate(0); }
  32% {
    transform: translate(-7px, 0) rotate(0); }
  34% {
    transform: translate(10px, 0) rotate(0); }
  36% {
    transform: translate(1px, 0) rotate(0); }
  38% {
    transform: translate(-2px, 0) rotate(0); }
  40% {
    transform: translate(4px, 0) rotate(0); }
  42% {
    transform: translate(-8px, 0) rotate(0); }
  44% {
    transform: translate(5px, 0) rotate(0); }
  46% {
    transform: translate(9px, 0) rotate(0); }
  48% {
    transform: translate(6px, 0) rotate(0); }
  50% {
    transform: translate(-9px, 0) rotate(0); }
  52% {
    transform: translate(7px, 0) rotate(0); }
  54% {
    transform: translate(-9px, 0) rotate(0); }
  56% {
    transform: translate(-7px, 0) rotate(0); }
  58% {
    transform: translate(-8px, 0) rotate(0); }
  60% {
    transform: translate(3px, 0) rotate(0); }
  62% {
    transform: translate(-7px, 0) rotate(0); }
  64% {
    transform: translate(6px, 0) rotate(0); }
  66% {
    transform: translate(-4px, 0) rotate(0); }
  68% {
    transform: translate(-2px, 0) rotate(0); }
  70% {
    transform: translate(6px, 0) rotate(0); }
  72% {
    transform: translate(-9px, 0) rotate(0); }
  74% {
    transform: translate(7px, 0) rotate(0); }
  76% {
    transform: translate(2px, 0) rotate(0); }
  78% {
    transform: translate(-8px, 0) rotate(0); }
  80% {
    transform: translate(2px, 0) rotate(0); }
  82% {
    transform: translate(2px, 0) rotate(0); }
  84% {
    transform: translate(-4px, 0) rotate(0); }
  86% {
    transform: translate(-7px, 0) rotate(0); }
  88% {
    transform: translate(4px, 0) rotate(0); }
  90% {
    transform: translate(-6px, 0) rotate(0); }
  92% {
    transform: translate(-8px, 0) rotate(0); }
  94% {
    transform: translate(-3px, 0) rotate(0); }
  96% {
    transform: translate(4px, 0) rotate(0); }
  98% {
    transform: translate(-8px, 0) rotate(0); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }

.shake-horizontal:hover, .shake-trigger:hover .shake-horizontal, .shake-horizontal.shake-freeze, .shake-horizontal.shake-constant {
  animation: shake-horizontal 100ms ease-in-out infinite; }

@keyframes shake-vertical {
  2% {
    transform: translate(0, 6px) rotate(0); }
  4% {
    transform: translate(0, -1px) rotate(0); }
  6% {
    transform: translate(0, -7px) rotate(0); }
  8% {
    transform: translate(0, -1px) rotate(0); }
  10% {
    transform: translate(0, 9px) rotate(0); }
  12% {
    transform: translate(0, 1px) rotate(0); }
  14% {
    transform: translate(0, 3px) rotate(0); }
  16% {
    transform: translate(0, 6px) rotate(0); }
  18% {
    transform: translate(0, 0px) rotate(0); }
  20% {
    transform: translate(0, 2px) rotate(0); }
  22% {
    transform: translate(0, 1px) rotate(0); }
  24% {
    transform: translate(0, 3px) rotate(0); }
  26% {
    transform: translate(0, 4px) rotate(0); }
  28% {
    transform: translate(0, 0px) rotate(0); }
  30% {
    transform: translate(0, -8px) rotate(0); }
  32% {
    transform: translate(0, 6px) rotate(0); }
  34% {
    transform: translate(0, 6px) rotate(0); }
  36% {
    transform: translate(0, -4px) rotate(0); }
  38% {
    transform: translate(0, 2px) rotate(0); }
  40% {
    transform: translate(0, -8px) rotate(0); }
  42% {
    transform: translate(0, -9px) rotate(0); }
  44% {
    transform: translate(0, -3px) rotate(0); }
  46% {
    transform: translate(0, 0px) rotate(0); }
  48% {
    transform: translate(0, -7px) rotate(0); }
  50% {
    transform: translate(0, 0px) rotate(0); }
  52% {
    transform: translate(0, 3px) rotate(0); }
  54% {
    transform: translate(0, -4px) rotate(0); }
  56% {
    transform: translate(0, 3px) rotate(0); }
  58% {
    transform: translate(0, -9px) rotate(0); }
  60% {
    transform: translate(0, 9px) rotate(0); }
  62% {
    transform: translate(0, -6px) rotate(0); }
  64% {
    transform: translate(0, 0px) rotate(0); }
  66% {
    transform: translate(0, -4px) rotate(0); }
  68% {
    transform: translate(0, 1px) rotate(0); }
  70% {
    transform: translate(0, 5px) rotate(0); }
  72% {
    transform: translate(0, 0px) rotate(0); }
  74% {
    transform: translate(0, -6px) rotate(0); }
  76% {
    transform: translate(0, -3px) rotate(0); }
  78% {
    transform: translate(0, 3px) rotate(0); }
  80% {
    transform: translate(0, 6px) rotate(0); }
  82% {
    transform: translate(0, 2px) rotate(0); }
  84% {
    transform: translate(0, -3px) rotate(0); }
  86% {
    transform: translate(0, 1px) rotate(0); }
  88% {
    transform: translate(0, 1px) rotate(0); }
  90% {
    transform: translate(0, 10px) rotate(0); }
  92% {
    transform: translate(0, -2px) rotate(0); }
  94% {
    transform: translate(0, -2px) rotate(0); }
  96% {
    transform: translate(0, -6px) rotate(0); }
  98% {
    transform: translate(0, -9px) rotate(0); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }

.shake-vertical:hover, .shake-trigger:hover .shake-vertical, .shake-vertical.shake-freeze, .shake-vertical.shake-constant {
  animation: shake-vertical 100ms ease-in-out infinite; }

@keyframes shake-rotate {
  2% {
    transform: translate(0, 0) rotate(3.5deg); }
  4% {
    transform: translate(0, 0) rotate(4.5deg); }
  6% {
    transform: translate(0, 0) rotate(1.5deg); }
  8% {
    transform: translate(0, 0) rotate(2.5deg); }
  10% {
    transform: translate(0, 0) rotate(3.5deg); }
  12% {
    transform: translate(0, 0) rotate(0.5deg); }
  14% {
    transform: translate(0, 0) rotate(-5.5deg); }
  16% {
    transform: translate(0, 0) rotate(-1.5deg); }
  18% {
    transform: translate(0, 0) rotate(1.5deg); }
  20% {
    transform: translate(0, 0) rotate(6.5deg); }
  22% {
    transform: translate(0, 0) rotate(3.5deg); }
  24% {
    transform: translate(0, 0) rotate(6.5deg); }
  26% {
    transform: translate(0, 0) rotate(-0.5deg); }
  28% {
    transform: translate(0, 0) rotate(7.5deg); }
  30% {
    transform: translate(0, 0) rotate(6.5deg); }
  32% {
    transform: translate(0, 0) rotate(-3.5deg); }
  34% {
    transform: translate(0, 0) rotate(-1.5deg); }
  36% {
    transform: translate(0, 0) rotate(3.5deg); }
  38% {
    transform: translate(0, 0) rotate(7.5deg); }
  40% {
    transform: translate(0, 0) rotate(-0.5deg); }
  42% {
    transform: translate(0, 0) rotate(3.5deg); }
  44% {
    transform: translate(0, 0) rotate(7.5deg); }
  46% {
    transform: translate(0, 0) rotate(7.5deg); }
  48% {
    transform: translate(0, 0) rotate(3.5deg); }
  50% {
    transform: translate(0, 0) rotate(0.5deg); }
  52% {
    transform: translate(0, 0) rotate(2.5deg); }
  54% {
    transform: translate(0, 0) rotate(5.5deg); }
  56% {
    transform: translate(0, 0) rotate(2.5deg); }
  58% {
    transform: translate(0, 0) rotate(-4.5deg); }
  60% {
    transform: translate(0, 0) rotate(-4.5deg); }
  62% {
    transform: translate(0, 0) rotate(7.5deg); }
  64% {
    transform: translate(0, 0) rotate(0.5deg); }
  66% {
    transform: translate(0, 0) rotate(2.5deg); }
  68% {
    transform: translate(0, 0) rotate(2.5deg); }
  70% {
    transform: translate(0, 0) rotate(5.5deg); }
  72% {
    transform: translate(0, 0) rotate(5.5deg); }
  74% {
    transform: translate(0, 0) rotate(-2.5deg); }
  76% {
    transform: translate(0, 0) rotate(7.5deg); }
  78% {
    transform: translate(0, 0) rotate(2.5deg); }
  80% {
    transform: translate(0, 0) rotate(-6.5deg); }
  82% {
    transform: translate(0, 0) rotate(-0.5deg); }
  84% {
    transform: translate(0, 0) rotate(2.5deg); }
  86% {
    transform: translate(0, 0) rotate(5.5deg); }
  88% {
    transform: translate(0, 0) rotate(0.5deg); }
  90% {
    transform: translate(0, 0) rotate(-0.5deg); }
  92% {
    transform: translate(0, 0) rotate(-1.5deg); }
  94% {
    transform: translate(0, 0) rotate(-0.5deg); }
  96% {
    transform: translate(0, 0) rotate(0.5deg); }
  98% {
    transform: translate(0, 0) rotate(-4.5deg); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }

.shake-rotate:hover, .shake-trigger:hover .shake-rotate, .shake-rotate.shake-freeze, .shake-rotate.shake-constant {
  animation: shake-rotate 100ms ease-in-out infinite; }

@keyframes shake-opacity {
  10% {
    transform: translate(-4px, 4px) rotate(-1.5deg);
    opacity: 0.25; }
  20% {
    transform: translate(-1px, 2px) rotate(0.5deg);
    opacity: 1; }
  30% {
    transform: translate(2px, -4px) rotate(-1.5deg);
    opacity: 0.03; }
  40% {
    transform: translate(-1px, -2px) rotate(1.5deg);
    opacity: 0.55; }
  50% {
    transform: translate(5px, -4px) rotate(1.5deg);
    opacity: 0.09; }
  60% {
    transform: translate(-1px, 1px) rotate(-1.5deg);
    opacity: 0.97; }
  70% {
    transform: translate(4px, 1px) rotate(0.5deg);
    opacity: 0.96; }
  80% {
    transform: translate(3px, 2px) rotate(2.5deg);
    opacity: 0.83; }
  90% {
    transform: translate(-2px, -4px) rotate(-1.5deg);
    opacity: 0.09; }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }

.shake-opacity:hover, .shake-trigger:hover .shake-opacity, .shake-opacity.shake-freeze, .shake-opacity.shake-constant {
  animation: shake-opacity 0.5s ease-in-out infinite; }

@keyframes shake-crazy {
  10% {
    transform: translate(-10px, -19px) rotate(6deg);
    opacity: 0.47; }
  20% {
    transform: translate(-11px, 10px) rotate(5deg);
    opacity: 0.82; }
  30% {
    transform: translate(17px, -3px) rotate(-9deg);
    opacity: 0.34; }
  40% {
    transform: translate(11px, 19px) rotate(5deg);
    opacity: 0.4; }
  50% {
    transform: translate(-11px, 13px) rotate(1deg);
    opacity: 0.97; }
  60% {
    transform: translate(17px, -16px) rotate(7deg);
    opacity: 0.24; }
  70% {
    transform: translate(-10px, -12px) rotate(-6deg);
    opacity: 0.56; }
  80% {
    transform: translate(13px, -19px) rotate(-4deg);
    opacity: 0.96; }
  90% {
    transform: translate(-18px, -11px) rotate(3deg);
    opacity: 0.49; }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }

.shake-crazy:hover, .shake-trigger:hover .shake-crazy, .shake-crazy.shake-freeze, .shake-crazy.shake-constant {
  animation: shake-crazy 100ms ease-in-out infinite; }

@keyframes shake-chunk {
  2% {
    transform: translate(5px, 2px) rotate(-12deg); }
  4% {
    transform: translate(-6px, 3px) rotate(1deg); }
  6% {
    transform: translate(3px, 6px) rotate(14deg); }
  8% {
    transform: translate(1px, 8px) rotate(1deg); }
  10% {
    transform: translate(-5px, 10px) rotate(0deg); }
  12% {
    transform: translate(-11px, 2px) rotate(7deg); }
  14% {
    transform: translate(4px, 15px) rotate(11deg); }
  16% {
    transform: translate(4px, -8px) rotate(15deg); }
  18% {
    transform: translate(-5px, 10px) rotate(1deg); }
  20% {
    transform: translate(-1px, 3px) rotate(15deg); }
  22% {
    transform: translate(-8px, 5px) rotate(-6deg); }
  24% {
    transform: translate(-1px, -9px) rotate(8deg); }
  26% {
    transform: translate(9px, 11px) rotate(-13deg); }
  28% {
    transform: translate(-7px, 4px) rotate(9deg); }
  30% {
    transform: translate(8px, 14px) rotate(9deg); }
  32% {
    transform: translate(-4px, 11px) rotate(-11deg); }
  34% {
    transform: translate(14px, 11px) rotate(-8deg); }
  36% {
    transform: translate(-13px, -8px) rotate(13deg); }
  38% {
    transform: translate(-12px, 1px) rotate(-13deg); }
  0%, 40%, 100% {
    transform: translate(0, 0) rotate(0); } }

.shake-chunk:hover, .shake-trigger:hover .shake-chunk, .shake-chunk.shake-freeze, .shake-chunk.shake-constant {
  animation: shake-chunk 4s ease-in-out infinite; }

.empty-block {
  background-color: #FFDD9A; }
  .empty-block.text-block {
    background-color: #FFF; }
    .empty-block.text-block .share-buttons .button-social i {
      color: #FFF; }
    .empty-block.text-block .share-buttons .button-social:hover {
      background-color: #FFF; }
  .empty-block .info-block {
    opacity: 0.99;
    margin: auto;
    height: auto;
    width: 60%;
    text-align: center;
    padding: 20px;
    font-family: 'Roboto', sans-serif; }
    .empty-block .info-block.text-block p {
      font-size: 25px !important; }
    .empty-block .info-block.text-block p {
      padding-top: 15px; }
    .empty-block .info-block p {
      color: #4D4D4D;
      font-weight: 100;
      font-size: 16px;
      text-align: left; }
      .empty-block .info-block p .amount {
        font-weight: 600; }
      .empty-block .info-block p.heading {
        font-size: 45px;
        text-align: center; }
    .empty-block .info-block .phones-block {
      padding: 25px; }
      .empty-block .info-block .phones-block p {
        text-align: center; }
    .empty-block .info-block .values-block {
      padding: 25px;
      width: 445px;
      margin: auto; }
      .empty-block .info-block .values-block p {
        font-size: 30px !important; }
  .empty-block .share-buttons {
    margin-top: 45px;
    float: right;
    margin-right: 10px; }
    .empty-block .share-buttons .button-social {
      margin-right: 10px;
      height: 70px;
      width: 70px;
      display: inline-block;
      border-radius: 50%;
      background-color: #454543;
      border: 4px solid #454543;
      text-align: center;
      cursor: pointer; }
      .empty-block .share-buttons .button-social i {
        line-height: 70px;
        font-size: 50px;
        color: #FFDD9A; }
      .empty-block .share-buttons .button-social:hover {
        background-color: #FFDD9A; }
        .empty-block .share-buttons .button-social:hover i {
          color: #454543; }

#map {
  border-top: 4px solid #4D4D4D;
  width: 100vw;
  height: 90vh; }

.photoset {
  background-image: url("./background.png");
  background-size: 100% auto;
  background-repeat: no-repeat repeat;
  background-repeat: repeat-y;
  height: auto;
  min-height: 400px;
  padding: 20px 0px 20px 0px;
  position: relative;
  border-bottom: 4px solid #4D4D4D; }
  .photoset .images {
    text-align: center;
    margin-top: 485px;
    position: relative;
    width: 350px;
    margin: auto;
    margin-top: 470px; }
    .photoset .images.dropped {
      height: 1350px; }
    .photoset .images .image-cage {
      position: absolute;
      width: 470px;
      height: auto; }
      .photoset .images .image-cage:hover {
        z-index: 10; }
      .photoset .images .image-cage .image {
        cursor: pointer;
        padding: 10px;
        border-radius: 5px;
        border: 4px solid #4D4D4D;
        width: 80%;
        margin: auto;
        height: 280px;
        background-color: white;
        text-align: center;
        overflow: hidden;
        margin-bottom: 60px; }
        .photoset .images .image-cage .image img {
          width: 100%; }
        .photoset .images .image-cage .image p {
          font-size: 24px;
          font-family: 'Marck Script', cursive; }

.polaroid {
  cursor: pointer;
  position: absolute;
  top: 260px;
  left: calc(50% - 125px); }

#shutter {
  opacity: 0;
  transition: all 30ms ease-in;
  position: fixed;
  height: 0%;
  width: 0%;
  pointer-events: none;
  background-color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%); }

#shutter.on {
  opacity: 0.8;
  z-index: 1000;
  height: 100%;
  width: 100%; }

.img-arrow {
  position: absolute;
  top: 20px;
  left: calc(50% - 15px); }
